# Qt
*.pro.user
*.pro.user.*
*.qmake.stash
*.qmake.cache
Makefile
Makefile.*
CMakeCache.txt

# Build
build/
cmake-build-*/
Debug/
Release/

# VS
.vs/
*.suo
*.user
*.VC.db

# Qt Creator
*.autosave
*.creator
*.creator.user

# OS
.DS_Store
Thumbs.db